:root {
	font-family: "Poppins";
	line-height: 1.5;
	font-size: $fw-normal;
	font-weight: $fw-normal;
}

* {
	font: inherit;
}

img,
svg {
	display: block;
	max-width: 100%;
}

p {
	margin: 0;
}

h1,
h2,
h3 {
	margin: 0;
	font-size: 1rem;
	line-height: 1;
}

a {
	color: inherit;
	text-decoration: none;
	line-height: 1;
}

button {
	background: none;
	border: none;
	padding: 0;
	cursor: pointer;
}

ul, ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

// util

.sr-only {
	// source: tailwindcss
	// https://tailwindcss.com/docs/screen-readers#screen-reader-only-elements
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap;
	border-width: 0;
}

// element

.title {
	font-weight: $fw-bold;
	font-size: $fz-title;
}

// TODO: refactor

a.btn--primary {
	color: white;
	background: $clr-bold-text;
	
	padding: 0.75rem;
	border-radius: 5px;
	
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
	
	line-height: 1;
	
	transition: opacity 100ms ease-out;
	
	&:hover {
		opacity: 0.8;
	}
}

a.btn--tertiary {
	color: $clr-bold-text;
	font-weight: $fw-bold;

	padding: 0.75rem;
	border-radius: 5px;

	display: inline-flex;
	align-items: center;
	gap: 0.75rem;

	transition: background-color 100ms ease-out;

	&:hover {
		background-color: #00000020;
	}
}

button.btn--primary {
	color: white;
	background: $clr-bold-text;
	
	padding: 0.75rem;
	border-radius: 5px;
	
	display: inline-flex;
	align-items: center;
	gap: 0.75rem;
	
	line-height: 1;
	
	transition: opacity 100ms ease-out;
	
	&:hover {
		opacity: 0.8;
	}
	
	&:disabled {
		opacity: 0.7;
		cursor: default;
	}
}

button.btn--tertiary {
	color: $clr-bold-text;
	font-weight: $fw-bold;

	padding: 0.75rem;
	border-radius: 5px;

	display: inline-flex;
	align-items: center;
	gap: 0.75rem;

	transition: background-color 100ms ease-out;

	&:hover {
		background-color: #00000020;
	}
}
