$clr-light-gray: #f1f1f1;
$clr-bold-text: #333;
//$clr-faint: #555;
//$clr-line: #999;
//$clr-line-hard: #111;
//$clr-green: #4ac58e;
//$clr-red: #fd6e73;

$fz-normal: 1rem;
$fz-title: 1.5rem;

$fw-normal: 300;
$fw-bold: 600;
